				<!-- Header -->
					<header id="header">
						<h1>Acerca de Nosotros..</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Augue interdum velit euismod in. Aliquam malesuada bibendum arcu vitae. Tellus at urna condimentum mattis pellentesque id nibh. 
                        Tempor nec feugiat nisl pretium fusce id velit ut tortor. A lacus vestibulum sed arcu non odio euismod. Faucibus in ornare quam viverra orci 
                        sagittis eu. Venenatis tellus in metus vulputate eu. Nibh mauris cursus mattis molestie a iaculis. Maecenas accumsan lacus vel facilisis volutpat. 
                        Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Dolor morbi non arcu risus quis varius quam quisque. Iaculis urna id volutpat 
                        lacus laoreet. <a <%= link_to 'Volver Inicio', root_path %> ></a></></p>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
					</section>
